
  <% if params[:search] %>
    <h2>Search Results for "<%= "#{params[:search]}" %>"</h2>
  <% else %>
    <h2>Listing tvs</h2>
  <% end %>

  

  <table>
    <tr>
      <th>Title</th>
      <th>Story</th>
      <th>Genres</th>
    
    </tr>

  <% @tvs.each do |tv| %>

  <% if params[:search] %>
       <tr>
        <td><%= tv.title %></td>
        <td><%= tv.story %></td>
        <td>Search Page</td>
      </tr>
  <% else %>
     <tr>
      <td><%= tv.title %></td>
      <td><%= tv.story %></td>
      <td><%= raw tv.genres.map(&:name).map { |t| link_to t, genre_path(t) }.join(', ') %></td>
    </tr>
  <% end %>

  <% end %>
  
  </table>

  <br/>

  <div>
    <h3>All Genres</h3>
    <% genre_cloud Tv.genre_counts, %w[s m l] do |genre, css_class| %>
      <%= link_to genre.name, genre_path(genre.name), class: css_class %>
    <% end %>
  </div>

  <br />

  <%= link_to 'New Tv', new_tv_path %>

