<!DOCTYPE html>
<html>
<head>
  <title>Nextspeel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div class="main clearfix">
			<h3>NextSpeel</h3>

			<form action="<%= tvs_path %>" method="get" >
			  <%= text_field_tag :search, params[:search] %>
			  <%= submit_tag "Search", :name => nil%>
			</form> 


			<ul>
				<% if user_signed_in? %>

					<li>Welcome <%= current_user.username %></li>

					<li><%= link_to "Account", edit_user_registration_path %></li>

					<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>

				<% else %>

					<li class="registerNew"><%= link_to "Register", new_user_registration_path %></li>
					<li class="loginExist"><%= link_to "Login", new_user_session_path %></li>
					
				<% end %>

			</ul>
		</div>
	</div>


<div class="main">
	<p class="notice"><%= notice %></p>

	<!--<%= flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}"%>
	<% end %>-->

	<%= yield %>


	<div class="modalContainer loginSignup">

		<div class="loginUser clearfix">
			<%= render "/devise/sessions/new" %>
		</div>

		<!--<div class="registerUser clearfix">
			<%= render "/devise/registrations/new" %>
		</div>-->

		<div class="findPassword">
			<%= render "/devise/passwords/new" %>
		</div>

	</div>

</div>

</body>
</html>
